* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat center top/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  /*border: 2px solid #fff;*/ /* Borda branca para facilitar vizualiçação depois tirar*/
  width: 360px;
  margin: 56px auto 0;
}
/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 250px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  font-size: 25px;
}
/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(
    4px
  ); /*alguns navegadores precisam desse modo para rodar*/
  text-decoration: none;
  font-weight: 500;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid white;
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 24px 0;
  font-size: 42px;
}
